# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

# IntelliJ
.idea/
*.iml

# Node.js
node_modules/
npm-debug.log*

# NPM Packages
*.tgz
dist/

# Standard
tmp/
*.log
