# IMPORTANT: do not include this file in your project!
# We only disable 'package-lock.json' here to allow the example package to hold a local reference to the latest SDK
# code, without having NPM cache the first version of the hash it sees (which causes hash verification errors on
# subsequent local changes & installs of the SDK).
package-lock=false
